<%- include('../partials/header'); %>
<h2>My Campsites</h2><br>

<div><%= parks.images %></div>

<% parks.forEach(parks => { %> 
<div><h5><%= parks.name %> National Park</h5></div><br> 


<form action="/campsites/<%= parks.parkCode %>/query" method="GET">
      <button class ="btn red accent-1 waves-effect waves-light" type="submit">View Park Details</button>
    </form>
<form action="/campsites/<%= parks._id %>?_method=DELETE" method="POST">
   <button class ="btn red accent-1 waves-effect waves-light">Remove Park</button></form>


<% }) %> 
<br><br>
<button class ="btn red accent-1 waves-effect waves-light"><a href="/campsites/query">Add a New Park</a></button><br>
<%- include('../partials/footer'); %>