<%- include('../partials/header'); %>
<h2>My Parks</h2>

<button class ="btn red accent-1 waves-effect waves-light"><a href="/campsites/query">Add a New Park</a></button><br>

<div class="row">
<% parks.forEach(parks => { %> 
<br><br><h5><%= parks.name %> National Park</h5>
<p><a href="<%= parks.url%>" target="_blank">Visit Park Site for More Info</a></p>

<div><img class="materialboxed" width="450" src="<%= parks.image %>" alt="<%= parks.name %> National Park"></div>

<br>
<form action="/campsites/<%= parks.parkCode %>/query" method="GET">
   <button class ="btn red accent-1 waves-effect waves-light" type="submit">View Park Details</button>
</form>

<form action="/campsites/<%= parks._id %>?_method=DELETE" method="POST">
   <button class ="btn red accent-1 waves-effect waves-light">Remove Park</button>
</form>

<% }) %> 

</div>
<br><br>

<%- include('../partials/footer'); %>