<%- include('../partials/header'); %>

<h1>Park Details</h1>
<ul>
    <li><%= park.name %></li> 
    <li><%= park.addresses %></li> 
    <li><%= park.weatherInfo %></li> 
    <li><%= park.images[0].url %></li> 
    <li><a href="<%= park.url%>"></a></li> 
    <li><%= park.name %></li> 
    <li><%= park.name %></li> 
</ul>
<%- include('../partials/footer'); %>






