<%- include('../partials/header'); %>
<h2><%= park.name %> National Park</h2>

<img class="responsive-img" width="650" src="<%= park.images[0].url%>"><br>

<h5>Address</h5>
<div></div>
<div><%= park.addresses[0].line1 %></div> 
<div><%= park.addresses[0].city %>, <%= park.addresses[0].stateCode %></div> 
<div></div>
<div><%= park.addresses[0].postalCode %></div></br>

<h5>Park Description</h5>
<div><%= park.operatingHours[0].description %></div>
</br>

<h5>Weather Info</h5>
<div><%= park.weatherInfo %></div><br> 

<h5>Park Activities</h5>
<div>
<%= park.activities[0].name %>,  
<%= park.activities[1].name %>,
<%= park.activities[2].name %>, 
<%= park.activities[3].name %>,  
<%= park.activities[4].name %>, 
<%= park.activities[5].name %>,  
</div></br>


<div><a href="<%= park.url%>" target="_blank">Visit Park Site for More Info</a></div><br>

<form action="/campsites/" method="POST">
               <input hidden name="name" value="<%= park.name %>">
               <input hidden name="activities" value="<%= park.activities %>"> 
               <input hidden name="topics" value="<%= park.topics %>"> 
               <input hidden name="addresses" value="<%= park.addresses %>"> 
               <input hidden name="weatherInfo" value="<%= park.weatherInfo %>"> 
               <input hidden name="url" value="<%= park.url %>"> 
                <input hidden name="image" value="<%= park.images[0].url %>"> 
                <input hidden name="parkCode" value="<%=park.parkCode%>">
            <button class ="btn red accent-1 waves-effect waves-light" type="submit">Add To My Parks</button>
</form>









<%- include('../partials/footer'); %>


