<%- include('../partials/header'); %>
<h2>Search National Parks</h2>

<form action="/campsites/query" method="POST">
    <input type="text" name="state" placeholder="Please enter a state abbreviation (2 letters)">
    <button class ="btn red accent-1 waves-effect waves-light" type="submit">Search</button>
</form>

<% if (!parks) { %>
<h2>Please enter a state...</h2>
<% } %>
<% if(parks) { %>
    <% parks.forEach((park) => { %>
        <form action="/campsites/" method="POST">
        <h3><%= park.name %></h3><br>
        <% if (park.images.length) { %>
            <img class="rmaterialboxed" width="650" src="<%= park.images[0].url %>" alt="park image"><br>
            <% } %>
                   <input hidden name="name" value="<%= park.name %>">
                   <input hidden name="activities" value="<%= park.activities %>"> 
                   <input hidden name="topics" value="<%= park.topics %>"> 
                   <input hidden name="addresses" value="<%= park.addresses %>"> 
                   <input hidden name="weatherInfo" value="<%= park.weatherInfo %>"> 
                   <input hidden name="url" value="<%= park.url %>"> 
                   <% if (park.images.length) { %>
                    <input hidden name="image" value="<%= park.images[0].url %>"> 
                    <input hidden name="parkCode" value="<%=park.parkCode%>">
                    <% } %>
                <button class ="btn red accent-1 waves-effect waves-light" type="submit">Add Park to Visits</button>
            </form>
            
            

            <form action="/campsites/<%= park.parkCode %>/query" method="GET">
            <button class ="btn red accent-1 waves-effect waves-light" type="submit">View Park Details</button>
          </form></br>
        <% }) %>
<% } %>


<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>


<%- include('../partials/footer') %>