<%- include('../partials/header'); %>


<h1>Camping Supplies</h1>

<form action="/supplies" method="POST">


                   <input name="itemName"  placeholder="Name" value="<%= supplies.itemName %>"> 
                   <input name="itemBrand" placeholder="Brand" value="<%= supplies.itemBrand %>"> 
                   <input name="itemQuantity" type="number" placeholder="Quantity" value="<%= supplies.itemQuantity %>"> 
                   <input name="itemCategory" placeholder="Category" value="<%= supplies.itemCategory %>">

<button type="submit">Add to List</button>
</form>

<form>
    <div>
            <% if(supplies) { %>
                <% supplies.forEach((s) => { %>
                    <%= s.itemName %> 
                    <%= s.itemBrand %> 
                    <%= s.itemQuantity %> 
                    <%= s.itemCategory %> 
            <%   }) %> 
            <%    } %> 
    </div>
</form>

<%- include('../partials/footer'); %>