<%- include('../partials/header'); %>



<h1>Supply Details</h1>


    
        


<form action="/supplies/<%= supply._id %>?_method=PUT" method="POST">
<input id="itemQuantity" value="<%= supply.itemQuantity %>" name="itemQuantity" type="number">
<input id="itemName" value="<%= supply.itemName %> " name="itemName" type="text">
<input id="itemBrand" value="<%= supply.itemBrand %> " name="itemBrand" type="text">
<input id="itemCategory" value="<%= supply.itemCategory %>" name="itemCategory" type="text">



 






    <button type="submit" name="action">Edit Details</button>
</form>






<%- include('../partials/footer'); %>